body {
    background-color: #F4F1F1;
}

/* Main nav div to position the dropdown content */
.dropdown {
    float: right;
    margin-right: 7%;
    margin-top: 5%;
    position: relative;
    display: inline-block;
}

/* Main nav dropdown button */
.dropbtn {
    border: none;
    background-color: #F4F1F1;
    color: #36454F;
    letter-spacing: 1px;
    font-size: 16px;
}

/* Man nav dropdown button hover & focus */
.dropbtn:hover, .dropbtn:focus {
    color: #fff;
}

.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown content hidden by degfault */
.dropdown-content {
    display: none;
    position: absolute;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: .8px;
    margin-top: 10px;
    margin-right: 5%;
    min-width: 200px;
    overflow: auto;
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: #36454F;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    color: #fff;
}

.show {
    display: block;
}

.heading {
    font-family: sans-serif;
    letter-spacing: 1px;
    font-size: 30px;
    float: left;
    margin-left: 3%;
}

/* position cover image */
#hero {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 150px;
    width: 65%;
    clear: right;
}

/* position page break line */
.break {
    margin: auto;
    margin-left: -100px;
    padding-bottom: 50px;;
}

/* div to position resume */
div#resume {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding-top: 100px;
    padding-bottom: 150px;
    clear: right;
}

#resumeImg {
    width: 700px;
    height: 900px;
    border-radius: 10px;
}

#btmHero {
    display: block;
    float: left;
}

#btmHero img {
    width: 400px;
    height: 200px;
}

.profile {
    padding: 40px;
    border-radius: 300px;
    width: 450px;
    height: 500px;
}

/* div class to position about paragraph */
.about {
    text-align: center;
    margin: auto;
    padding-top: 250px;
    padding-bottom: 50px;
    width: 60%;
}

/* div with class to position left images on main project page */
.left {
    float: left;
    clear: both;
}

/* div with class to position middle images on main project page */
.middle {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    clear: both;
}

/* div with class to position right images on main project page */
.right {
    float: right;
    clear: both;
    margin-right: 5%;
}

/* div with class to adjust project images on main project page */
.projects {
    width: 700px;
    height: 550px;
    padding: 50px;
}

/* div with class to adjust logo images on main project page */
.logoProj {
    width: 550px;
    height: 550px;
    margin-right: 50px;
    padding: 50px;
}